{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> To-Do App </title>
    <meta name="description" content="Simple and efficient To-Do List web app built with Django. Manage your tasks with ease.">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?v=2">
</head>
<body>
     
    <div class="top-bar">   
    
     <h1> To Do App </h1>
     
     <form method="POST" action="{% url 'logout' %}">
         {% csrf_token %}
         <div style="text-align: right;   padding: 20px;"  >
            <button type="submit"  > Logout</button>
         </div>
     </form>
    
    </div>
    
    
    <hr>
    
    {% block content %}
    
    {% endblock %}
    
</body>
</html>