{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
 <P>Welcome {{request.user.username}}</P>
{% endif %}


<form method="GET">
<input type="text" name="query" placeholder="Search by title" value="{{ request.GET.query }}">
<button type="submit">Search</button>
</form>


<h2>My To-Do List</h2>
<a href="{% url 'add_task' %}">Add Task</a>

<ul>
  {% if tasks %}
  {% for task in tasks %}
  <li>
    {{ task.title }}: {{task.description|default:"(No description)"}} <br>
    <p>Created:{{task.created_at|date:" M d, Y H:i"}} </p> 
    <p>Updated:{%if task.updated_at %}{{ task.updated_at|date:"M d, Y H:i"}}{% endif %} </p> 
    <p>Due Date: {{task.due_date|default:"(Not set)"}}</p>
    {% if task.is_completed %}Completed{% else %}Incomplete{% endif %} <br><br>     
        <a href="{% url 'toggle_task' task.id %}">Toggle</a>
        <a href="{% url 'edit_task' task.id %}">Edit</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a> 
      </li>
        <hr>
      {% endfor %}  
  {% elif request.GET.query %}   
    <li> No results found for {{request.GET.query}} </li>
  {% else %}
  <li>No tasks yet.</li>
  {% endif %}
</ul>

<div class="pagination">
  <span>
    Page {{tasks.number}}  of  {{tasks.paginator.num_pages}}
  </span> 
  <div>
    {% if tasks.has_previous %} 
    <a href="?page={{tasks.previous_page_number}}">Previous</a>
    {%endif%}
  
    {% for num in tasks.paginator.page_range %}
      {% if tasks.number == num %}
      <strong>{{ num }}</strong>
    
      {% else %}
  
      <a href="?page={{num}}">{{ num }}</a>
      {%endif%}
    {%endfor%}
  
    {% if tasks.has_next %}
    <a href="?page={{tasks.next_page_number}}">Next</a> <br> <br>
      <hr>
    {% endif %}

  </div>
</div>

<a href="{% url 'password_change' %}">Change Password</a>

<a href="{% url 'delete_acount' %}">Delete My Account</a>
{% endblock %}


