body{
    display: flex;                       
    flex-direction: column;    
    height: 100vh;                  
    background-color:lightblue;
    margin: 0%;
    padding: 20px;
    font-family: sans-serif;
    font-size: 18px;
}


body a{
    text-decoration: none;
    padding: 8px; 
    color: #4846b4;
    border-radius: 4px;
}

h2{
    margin-bottom: 8px;
   
}

.top-bar {                              
    display: flex;                   
    align-items:center;                    
    justify-content: space-between;     
    margin-top: 0%;
    background-color: #4682B4;        
    padding: 2px ;                      
    border-bottom: 2px solid white;
}


.top-bar h1 {                          
    color: white;
    margin: 0%;                    
    padding: 0%;
}


.top-bar button {    
    background-color: white;           
    border: none;                     
    border-radius: 5px;               
    padding: 8px 16px;                           
    cursor: pointer;
}


body hr{
    margin-bottom: 4px;
    margin-top: 4px;
}


.pagination a {
    text-decoration: none;
    padding: 2px 6px;
    color: #4682B4;
    background-color:  white; 
    border-radius: 4px;
}

.pagination strong{
    padding: 2px 6px;
    background-color: #4682B4;  
    color: white; 
    border-radius: 4px;
}

.pagination a:hover {
  background-color: #e9ecef;
}

.pagination span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}



@media (max-width: 1024px) {
    body {
         font-size: 16px;
         padding: 15px;
    }
}


@media (max-width: 600px) {
    body {
         font-size: 14px;
         padding: 10px;
    }
}

body {
    box-sizing: border-box;
}


